<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <!-- The post method passes option values to the server. In this case, the option values are 1 and 0 -->

        <form method="POST", action="{{url_for('home')}}">
            <div class="form-group">
                <ul class="list-group" id="filters">
                
                <li class="filter list-group-item">
                    <label for="gender">Gender:</label>
                        <select name="gender" id="gender">
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="retired">Are you a senior citizen?</label>
                        <select name="retired" id="retired">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="partner">Are you Single?</label>
                        <select name="partner" id="partner">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="dependents">Do you have any Dependents?</label>
                        <select name="dependents" id="Dependents?">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="tenure">How many months have you been with your telecom company?</label>
                        <input class="form-control" id="tenure" type="text", name="tenure", placeholder="44">
                </li>
                <li class="filter list-group-item">
                    <label for="telephone">Do you want Telephone Service?</label>
                        <select name="telephone" id="telephone">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>  
                </li>
                <li class="filter list-group-item">
                    <label for="DSL">Would you like DSL?</label>
                        <select name="DSL" id="DSL">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="Fiber">Would you like Fiber-Optics?</label>
                        <select name="Fiber" id="Fiber">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="security">Do you want Online Security?</label>
                        <select name="security" id="security">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>  
                </li>
                <li class="filter list-group-item">
                    <label for="backup">Do you want Online Backup?</label>
                        <select name="backup" id="backup">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>    
                </li>
                <li class="filter list-group-item">
                    <label for="protection">Do you want Internet Device Insurance?</label>
                        <select name="protection" id="protection">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>    
                </li>
                <li class="filter list-group-item">
                    <label for="techsupport">Do you want Technical Support?</label>
                        <select name="techsupport" id="techsupport">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>  
                </li>
                <li class="filter list-group-item">
                    <label for="streamtv">Do you want TV Streaming?</label>
                        <select name="streamtv" id="streamtv">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select> 
                </li>
                <li class="filter list-group-item">   
                    <label for="streammovie">Do you want Movie Streaming?</label>
                        <select name="streammovie" id="streammovie">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>  
                </li>
                <li class="filter list-group-item">
                    <label for="billing">Would you like Paperless Billing?</label>
                        <select name="billing" id="billing">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>        
                </li>
<!--            <li class="filter list-group-item">      
                    <label for="currentpayment">Insert your current yearly payment</label>
                        <input class="form-control" id="currentpayment" type="text" placeholder="3973.20">  
                </li>
                </ul> -->
            </div>
            <input type="submit", value='Predict Price'>
            
            <!-- When the form is submitted, the info can be grabbed by flask and passed through the model -->
            <!-- BUT FOR WHATEVER GODFORSAKEN REASON, THE PICKLE FILE DOESN'T EXIST.... -->
        </form>

        <img src='static\flower1.jpg' alt="flower">
        
    </center>

    </body>
</html>
