<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <!-- The post method passes option values to the server. In this case, the option values are 1 and 0 -->

        <form method="POST", action="{{url_for('home')}}">
            <div class="form-group">
                <ul class="list-group" id="filters">
                <li class="filter list-group-item">
                    <label for="gender">Gender:</label>
                        <select name="gen" id="gender">
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="retired">Are you Retired?</label>
                        <select name="retire" id="retired">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="partner">Are you Single?</label>
                        <select name="pard" id="partner">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                </li>
                <li class="filter list-group-item">
                    <label for="dependents">Do you have any Dependents?</label>
                        <select name="depend" id="Dependents?">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                </li>
                </ul>
            </div>
            <input type="submit", value='Predict Price'>
            
            <!-- When the form is submitted, the info can be grabbed by flask and passed through the model -->
            <!-- BUT FOR WHATEVER GODFORSAKEN REASON, THE PICKLE FILE DOESN'T EXIST.... -->
        </form>

        <img src='static\flower1.jpg' alt="flower">
        
    </center>

    </body>
</html>
